

@media(max-width:1025px){
    /* section01 start */
    .side-menu{
      display: none;
    }
    .d-row{
      padding-left:5%;
    }
    .m1{
      margin:0 auto;
    }
    .main_img img {
      width: 70%;
    }
    .section01 .w-m-10{
        width:100%;
        text-align: center;
    }
    .m2{
        position:static;
    }
    /* section01 end */
  
  
    /* section02 start */
   
    .container2{
      width: 100%;
    }
    .box img{
    width: 210px;
    height: 210px;
    animation:boxmove 1.5s infinite linear;
    }
  
    /* box moving animation start*/
    @keyframes boxmove{
      0%,100%{
        transform: translate(0);
      }
      50%{
        transform: translate(4%,4%);
      }
    }
    /* box moving animation end */
    .character img{
      width: 80%;
    }
    /* section3 start */
    .section03{
      background-size: cover;
    }
    .bg_box{
      width: 80%;
      margin: 15% auto;
    }
    .bar{
        font-size: 35px;
    }
    .bar li{
        margin-top: 2%;
    }
    /* section3 start */


    /* section4 start */



    /* section4 end */
  }
  

  @media(max-width:769px){
    /* section01 start */
    .col-3 h1{
      font-size:50px;
    }
    .section01 .w-m-10{
        width:100%;
        text-align: center;
    }    
    .m2{
        position:static;
    }
    /* section01 end */
  

    /* section02 start */
  
    .box img{
      width:150px;
      height: 150px;
    }
    .content {
      margin-top: 13%;
      height: 350px;
    }
  
    .mario_text1{
      font-size: 35px;
    }
    .mario_text2{
      font-size: 25px;
    }
    /* section02 end */
  .text>p{
    font-size: 50px;
    font-weight: 600;
  }
  
    /* section03 start */
    .bg_box{
      width: 80%;
      margin: 15% auto;
    }
    .bar {
        font-size: 25px;
    }
    /* section03 end */
  
  } 
  
  @media(max-width:541px){
  
    .box img {
      width: 90px;
      height: 90px;
  }
  
    /*section02 start  */
  
    .content {
      margin-top: 15%;
      height: 250px;
    }
    .mario_text1{
      font-size: 30px;
    }
    .mario_text2{
      font-size: 20px;
    }
    .text>p{
      font-size: 40px;
      font-weight: 500;
    }
    /* section02 end */
  
    /* section03 start */
    .bar{
      font-size: 20px;
      font-weight: 500;
    }
    .bg_box {
      width: 80%;
      margin: 18% auto;
  }
    /* section03 end */
  }
  
  @media(max-width:415px){
      .box1{
        width:50%;
      }
      .box2{
        width:50%;
      }
      .box3{
        width:50%;
      }
      .box4{
        width:50%;
      }
      .box5{
        width:50%;
      }
      .box6{
        width:50%;
      }
  
      /* section02 start */
      .character{
        width:100%;
        margin-top:10%;
        margin-left:20%;
      }
      .character img{
        width: 60%;
        margin:0 auto;
      }
      .content{
        width: 100%;
        height: 200px;
        margin-top: 5%;
      }
      .mario_text1 {
        font-size: 29px;
      }
      .mario_text2 {
      font-size: 18px;
      }
      /* section02 end */
  
      /* section03 start */
  
      .bar{
        font-size: 17px;
        font-weight: 400;
      }
      .bg_box {
        width: 80%;
        margin: 30% auto;
    }
        .bar li{
        margin-top: 1%;
    }

      /* section03 end */

  
  @media(max-width:376px){
    .container2{
      width: 100%;
    }
    .box img{
      width: 100px;
      height: 100px;
    }
  .content{
    height:180px;
  }

  /* section2 start */
  .text>p{
    font-size: 30px;
    font-weight: 400;
  }
  
  /* section2 end */
  .text>.subtitle{
    font-size: 20px;
    font-weight: 200;
  }

  /* section3 start */
  /* .bg_box{
  margin: 30% auto;
  } */
  /* section3 end */
  } 
  
  @media(max-width:321px){
    .box img{
      width: 90px;
      height: 90px;
    }
    .content{
      width: 100%;
      height: 170px;
      margin-top: 5%;
    }
  
    .mario_text1 {
      font-size: 20px;
    } 
    .mario_text2 {
    font-size: 15px;
    } 
    .text>p{
      font-size: 25px;
      font-weight: 300;
    }