@import url('reset.css');

@import url('https://db.onlinewebfonts.com/c/6c02f15fdbc9dd7c482b52b06d8e0a6c?family=Super+Mario+256');

/* section2 content animation */
@import url("https://fonts.googleapis.com/css?family=Raleway:400");

/* section3 font */

@import url(https://fonts.googleapis.com.css?family=Roboto:400,100);

* {
  box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
/* section2 content animation */

@font-face {
  font-family: 'MaplestoryOTFLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* side-menu start */

.side-menu {
  width: 220px;
  height: auto;
  margin: 15% auto 0;
  font-size: 1em;
  line-height: 2em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -10em;
  z-index: 999;
}
.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-menu ul li {
  display:block;
  background-color: #333;
  height: 4em;
  padding: 1em 1.5em;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
  transition: transform .5s, background-color .5s, color .5s;
}
/*the colors of the different columns*/
.side-menu ul li:nth-child(1) { background-color: #44a9f1;}
.side-menu ul li:nth-child(2) { background-color: #1a4ab2;}
.side-menu ul li:nth-child(3) { background-color: #00a300;}
.side-menu ul li:nth-child(4) { background-color: #ffc40d;}
.side-menu ul li:nth-child(5) { background-color: #1e7145;}
.side-menu ul li:nth-child(6) { background-color: #cb2027;}

.side-menu ul li:hover {
  background-color: #1a4ab2; /*you can make different colors depending on the nth-child like above*/
  -webkit-transform: translateX(10em);
  transform: translateX(10em);/*equal to left in the .side-menu*/
}
.side-menu ul li a {
display:block;
  color: #FFF;
  text-decoration: none;
}
.side-menu ul li span {
  display:block;
  position: absolute;
  font-size:1em;
  line-height: 2em;
  height:2em;
  top:0; 
  bottom:0;
  margin:0 auto;
  padding:1em 1.5em;
  right: 0.16666666666667em;
  color: #F8F6FF;
}
/* side menu end */

/* section01 start */

.container-fluid{
    width: 100%;
    position: relative;
    padding: 120px 0;
    background-image: url('../images/main_red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.d-row>div{
  float: left;
}
.col-3{
  text-align: center;
}
.col-3 h1{
    font-family: "Super Mario 256"; 
    font-size:70px;
    font-weight: 900;
    color: #fff;
}
.m1{
    margin-left: 10%;
}
.clearfix{
  clear: both;
}
.main_img{
    margin: 0 auto;
    -webkit-animation: breathing 7s ease-in infinite normal;
    animation: breathing 7s ease-in infinite normal;
    }

.main_img img{
      width:100%;
  }

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }  
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }  
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.m2{
    position: absolute;
    right: 2%;
    bottom: 15%;
}
.clearfix{
    clear: both;
}

/* section1 end */





/* section2 start */

.section02{
    width: 100%;
    background-image: url('../images/mario_bg5.png');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container2{
  width: 80%;
  margin: 0 auto;
}
.box{
  width: 100%;
  margin: 3% auto;
}
.box img{
  width: 320px;
  height: 320px;
  margin:20%;
}
.box1{
  float: left;
  width: 33.3%;
}
.container2-1{
  width: 90%;
  margin: 0 auto;
}
.character{
  float: left;
  width: 50%;
}
.character img {
  width: 70%;
  margin: 20% auto;
}

  /* modal */
  .content{
    float:left;
    width: 50%;
    height: 500px;
    margin-top: 13%;
    border: 0.70rem solid;
    padding: 3vw;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
  }
  .modal-bg1{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  .modal-bg2{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  .modal-bg3{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  
  .modal-bg4{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  
  .modal-bg5{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  
  .modal-bg6{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }

  .bg_1{
    background-color: #f8d4d3  !important;
  }
  .bg_2{
    background-color: #ffcccc !important;
  }
  .bg_3{
    background-color: #4ba82f !important;
  }
  .bg_4{
    background-color: #ffbb89 !important;
  }
  .bg_5{
    background-color: #00e156 !important;
  }
  .bg_6{
    background-color: #cebe2c !important;
  }


.close{
  position: absolute;
  top: 5%;
  right: 5%;
  color:#fff;
  font-size: 50px;
  cursor: pointer;
}
.content{
  float:left;
  width: 50%;
  height: 500px;
  margin-top: 18%;
  background-color:rgb(250, 206, 30);
  border: 0.70rem solid;
  padding: 3vw;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}



/* content animation css start */

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(28, 3, 247);
  --c2: rgb(248, 6, 6);
}
@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

/* content animation css end */





.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.mario_text1{
  text-align: center;
  justify-content: center;
  font-size: 50px;
  font-family: "Super Mario 256";
  font-weight:900;
  color: darkblue;
  margin:10%;
}
.mario_text2{
  font-size:30px;
  text-align:center;
  font-family: "MaplestoryOTFLight"; 
  color: black;
}
/* modal end */
.box2{
  float: left;
  width:33.3%;
}
.box3{
  float: left;
  width:33.3%;
}
.box4{
  float: left;
  width:33.3%;
}
.box5{
  float: left;
  width:33.3%;
}
.box6{
  float: left;
  width:33.3%;
}

.box>div>img:hover {
  animation: shake 0.45s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* section2 end */



/* section3 start */

.section03{
  width: 100%;
  background-image: url('../images/section2-01.png');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.bar{
  font-family: 'MaplestoryOTFLight';
  font-size: 22px;
  font-weight: 900;
  padding: 3%;
  /* color: darkblue; */
}
.bar li{
  list-style-type: none;
  float:left;
  width: 16.66%;
  position: relative;
  text-align:center;
  letter-spacing:2px;
  cursor: pointer;
}
.bar li:before{
  content: url(../images/m.png);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align:center;
  margin: 0 auto 10px auto;
  border-radius:50%;
  letter-spacing:0px;
  position: relative;
  z-index: 999;
}
.bar li:after{
  content:'';
  position: absolute;
  width:100%;
  height: 3px;
  top: 25px;
  left: -50%;
  z-index: 99;
}
.bar li:first-child:after{
  content:none;
}
.bar li.active + li:after{
 background-color: #fff; 
}
.section03>.cont_box>.bg_box img{
  width: 100%;
}

/* images */

.bg_box {    
  width: 50%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
/* .img01{
  display: none;
} */
.img02{
  display: none;
}
.img03{
  display: none;
}
.img04{
  display: none;
}
.img05{
  display: none;
}
.img06{
  display: none;
}

.clearfix{
  clear: both;
}

/* section3 end */



/* section4 start */


.section04{
  width: 100%;
  background-image: url('../images/mario_overview/bg_overview.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container4{
  width: 100%;
  margin: 0 auto;
}
.text{
  width: 100%;
  padding-top: 5%;
}
.text>p{
  font-family: "Super Mario 256"; 
  text-align: center;
  font-size:70px;
  font-weight: 500;
  color: #fff;
}
.text>.subtitle{
  font-family: "Super Mario 256"; 
  text-align: center;
  font-size:30px;
  font-weight: 300;
  margin-top: 10px;
  color: #fff;
}
.center{
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.center button{
  position: absolute;
  z-index: 10;
  top: 30%;
  transform: translateY(150%);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: rgba(0,0,0,.5);
  border: none;
}
.center button:focus{
  display: none;
}
.center button.slick-prev{
left: 0;
}
.center button.slick-next{
right: 0;
}
.slick-track {
margin:15%
}



/* 마우스 호버 css */

figure.snip1200 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.6;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border-width: 1px 1px 0;
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.snip1200 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1200 h2 span {
  font-weight: 800;
}
figure.snip1200 h2:before,
figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1200 h2:before {
  left: -1000%;
}
figure.snip1200 h2:after {
  right: -1000%;
}
figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.3;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
  border: 1px solid white;
  border-bottom: none;
  border-radius: 25px 25px 0px 0px;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

/* section4 end */


/* section5 start */

.section05{  
  width: 100%;
  background-image: url('../images/main_yellow.png');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.section05 .text>p{
  font-family: "Super Mario 256"; 
  text-align: center;
  font-size:70px;
  font-weight: 500;
  color: rgb(0, 0, 253);
}

.section05 .text>.subtitle{
  font-family: "Super Mario 256"; 
  text-align: center;
  font-size:30px;
  font-weight: 300;
  margin-top: 10px;
  color: #fff;
}

.container5{
  width: 100%;
}
.products>ul>li{
  float: left;
  width: 33.3%;
}
.products ul> li>img{
  width: 100%;
}

/* section5 end */