@import url('reset.css');

@import url('http://db.onlinewebfonts.com/c/6c02f15fdbc9dd7c482b52b06d8e0a6c?family=Super+Mario+256');

/* section2 content animation */
@import url("https://fonts.googleapis.com/css?family=Raleway:400");

/* section3 font */

@import url(http://fonts.googleapis.com.css?family=Roboto:400,100);

* {
  box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
/* section2 content animation */

@font-face {
  font-family: 'MaplestoryOTFLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* section01 start */

.container-fluid{
    width: 100%;
    position: relative;
    padding: 120px 0;
    background-image: url('../images/main_red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.d-row>div{
  float: left;
}
.col-3 h1{
    font-family: "Super Mario 256"; 
    font-size:70px;
    font-weight: 900;
    color: #fff;
}
.m1{
    margin-left: 10%;
}
.clearfix{
  clear: both;
}
.main_img{
    margin: 0 auto;
    -webkit-animation: breathing 7s ease-in infinite normal;
    animation: breathing 7s ease-in infinite normal;
    }

.main_img img{
      width:100%;
  }

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }  
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }  
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.m2{
    position: absolute;
    right: 2%;
    bottom: 15%;
}
.clearfix{
    clear: both;
}

/* section1 end */





/* section2 start */

.section02{
    width: 100%;
    height:100%;
    background-image: url('../images/main_blue.png');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container2{
  width: 80%;
  margin: 0 auto;
}
.items{
  width: 100%;
  margin: 0 auto;
}
.items img{
  width: 320px;
  height: 320px;
  margin:20%;
}
.box1{
  float: left;
  width: 33.3%;
}
.container2-1{
  width: 90%;
  margin: 0 auto;
}
.character{
  float: left;
  width: 50%;
}
.character img {
  width: 70%;
  margin: 20% auto;
}

  /* modal */
  .content{
    float:left;
    width: 50%;
    height: 500px;
    margin-top: 13%;
    border: 0.70rem solid;
    padding: 3vw;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
  }
  .modal-bg1{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  .modal-bg2{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  .modal-bg3{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  
  .modal-bg4{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  
  .modal-bg5{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }
  
  .modal-bg6{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    display: none;
    z-index: 999;
  }

  .bg_1{
    background-color: #f8d4d3  !important;
  }
  .bg_2{
    background-color: #ffcccc !important;
  }
  .bg_3{
    background-color: #4ba82f !important;
  }
  .bg_4{
    background-color: #ffbb89 !important;
  }
  .bg_5{
    background-color: #00e156 !important;
  }
  .bg_6{
    background-color: #cebe2c !important;
  }


.close{
  position: absolute;
  top: 5%;
  right: 5%;
  color:#fff;
  font-size: 50px;
  cursor: pointer;
}
.content{
  float:left;
  width: 50%;
  height: 500px;
  margin-top: 18%;
  background-color:rgb(250, 206, 30);
  border: 0.70rem solid;
  padding: 3vw;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}



/* content animation css start */

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(28, 3, 247);
  --c2: rgb(248, 6, 6);
}
@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

/* content animation css end */





.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.mario_text1{
  text-align: center;
  justify-content: center;
  font-size: 50px;
  font-family: "Super Mario 256";
  font-weight:900;
  color: darkblue;
  margin:10%;
}
.mario_text2{
  font-size:30px;
  text-align:center;
  font-family: "MaplestoryOTFLight"; 
  color: black;
}
/* modal end */
.box2{
  float: left;
  width:33.3%;
}
.box3{
  float: left;
  width:33.3%;
}
.box4{
  float: left;
  width:33.3%;
}
.box5{
  float: left;
  width:33.3%;
}
.box6{
  float: left;
  width:33.3%;
}

.items>div>img:hover {
  animation: shake 0.45s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* section2 end */



/* section3 start */

.section03{
  width: 100%;
  background-image: url('../images/bg-1985.png');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bar{
  counter-reset:step;
  font-family: 'MaplestoryOTFLight';
  font-size: 22px;
  font-weight: 900;
  padding: 3%;
  color: darkblue;
}
.bar li{
  list-style-type: none;
  float:left;
  width: 16.66%;
  position: relative;
  text-align:center;
  letter-spacing:2px;
}
.bar li:before{
  content: url(../images/m.png);
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align:center;
  margin: 0 auto 10px auto;
  border-radius:50%;
  letter-spacing:0px;
  position: relative;
  z-index: 999;
}
.bar li:after{
  content:'';
  position: absolute;
  width:100%;
  height: 3px;
  top: 25px;
  left: -50%;
  z-index: 99;
}
.bar li:first-child:after{
  content:none;
}
.bar li.active + li:after{
 background-color: #fff; 
}
img{
  width: 100%;
}

/* images */

.bg_box {    
  width: 50%;
  margin: 7% auto;
}


.img02{
  display: none;
}
.img03{
  display: none;
}
.img04{
  display: none;
}
.img05{
  display: none;
}
.img06{
  display: none;
}


/* section3 end */







