@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 99, 44, 0.7);
    --left-button-hover-color: rgba(255, 255, 255, 0.3);
    --middle-bg-color: rgba(223, 99, 44, 0.7);
    --middle-button-hover-color: rgba(255, 255, 255, 0.3);
    --right-bg-color: rgba(223, 99, 44, 0.7);
    --right-button-hover-color: rgba(255, 255, 255, 0.3);
    --hover-width: 36%;
    --other-width: 32%;
    --speed: 500ms;
  }
  
  html, body {
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  .container h1 {
    font-family: 'MaplestoryOTFLight';
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 70%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-family: ;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.middle .button:hover {
    background-color: var(--middle-button-hover-color);
    border-color: var(--middle-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
  }
  
  .split {
    position: relative;
    width: 33%;
    height: 100%;
    float:left;
    overflow: hidden;
  }
  
  .split.left {
    background: url('../../images/split_mario1.jfif') center center no-repeat;
    background-size: cover;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }
  
  .split.middle {
    background: url('../../images/split_mario2.jfif') center center no-repeat;
    background-size: cover;
  }
  
  .split.middle:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--middle-bg-color);
  }
  
  
  .split.right {
    background: url('../../images/split_mario3.jfif') center center no-repeat;
    background-size: cover;
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  
  .split.left, .split.middle, .split.right, .split.right:before, .split.middle:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .middle {
    width: var(--other-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    zz-index: 2;
  }
  
  
  .hover-middle .middle {
    width: var(--hover-width);
  }
  
  .hover-middle .left {
    width: var(--other-width);
  }
  .hover-middle .right {
    width: var(--other-width);
  }
  
  .hover-middle .middle:before {
    zz-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .middle {
    width: var(--other-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    zz-index: 2;
  }
  
  @media(max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
  
    .button {
      width: 12rem;
    }
  }
  
  @media(max-height: 700px) {
    .button {
      top: 70%;
    }
  }